{% extends 'base.html.twig' %}

{% block body %}
    <h1>Saludos</h1>
    <h2>Listas de Usuarios</h2>
 {#Nombre: {{usuario.nombre}}#}


    {% for usuario in usuarios %}
    <li>{{ usuario.nombre }}</li>
    {% endfor %}

{% endblock %}

{% block title %}Ver Usuarios{% endblock %}